@model HospitalTeam2.Models.ViewModels.BookingRequestEdit

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>@Model.BookingRequests.FirstName@Model.BookingRequests.LastName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST" action="/BookingRequest/Edit/@Model.BookingRequests.BookingID">
            <div class="form-group">
                <div class="control-label">Hospital Title</div>
                <select class="form-control" id="HospitalJobPosting" name="HospitalJobPosting">
                    @foreach (var Hospital in Model.Hospitals)
                    {
                        string current = "false";
                        @if (Hospital.HospitalID == Model.BookingRequests.HospitalID)
                        {
                            current = "true";
                        }

                        <option value="@Hospital.HospitalID" selected="@current">@Hospital.HospitalTitle</option>
                    }

                </select>
                <div class="form-group">
                    <div class="control-label">Type Doctor</div>
                    <select class="form-control" id="staffbooking" name="staffbooking">
                        @foreach (var Staff in Model.Staffs)
                        {
                            string current = "false";
                            @if (Staff.StaffId == Model.BookingRequests.StaffID)
                            {
                                current = "true";
                            }

                            <option value="@Staff.StaffId" selected="@current">@Staff.TypeDoctor</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <div class="control-label">Doctor First Name</div>
                    <select class="form-control" id="staffbooking" name="staffbooking">
                        @foreach (var Staff in Model.Staffs)
                        {
                            string current = "false";
                            @if (Staff.StaffId == Model.BookingRequests.StaffID)
                            {
                                current = "true";
                            }

                            <option value="@Staff.StaffId" selected="@current">@Staff.StaffFirstName</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <div class="control-label">Doctor last name</div>
                    <select class="form-control" id="staffbooking" name="staffbooking">
                        @foreach (var Staff in Model.Staffs)
                        {
                            string current = "false";
                            @if (Staff.StaffId == Model.BookingRequests.StaffID)
                            {
                                current = "true";
                            }

                            <option value="@Staff.StaffId" selected="@current">@Staff.StaffLastName</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Reason</label>
                    <input class="form-control" type="text" value="@Model.BookingRequests.Reason" id="Reason" name="Reason" />
                </div>
                <div class="form-group">
                    <label class="control-label">Date</label>
                    <input class="form-control" type="text" value="@Model.BookingRequests.Date" id="Date" name="Date" />
                </div>
                <div class="form-group">
                    <label class="control-label">Time</label>
                    <input class="form-control" type="text" value="@Model.BookingRequests.Time" id="Time" name="Time" />
                </div>
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input class="form-control" type="text" value="@Model.BookingRequests.FirstName" id="FirstName" name="FirstName" />
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input class="form-control" type="text" value="@Model.BookingRequests.LastName" id="LastName" name="LastName" />
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" type="text" value="@Model.BookingRequests.Email" id="Email" name="Email" />
                </div>
                <div class="form-group">
                    <label class="control-label">Phone</label>
                    <input class="form-control" type="text" value="@Model.BookingRequests.Phone" id="Phone" name="Phone" />
                </div>
                <div class="form-group">
                    <label class="control-label">Age</label>
                    <input class="form-control" type="text" value="@Model.BookingRequests.Age" id="Age" name="Age" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
