@model HospitalTeam2.Models.ViewModels.BookingRequestEdit

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<h4>BookingRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/BookingRequest/Create" method="post">

            <label>Hospital Title</label>
            <select name="hospitalid">
                @{
                    foreach (var hospital in Model.Hospitals)
                    {
                        <option value="@(hospital.HospitalID)">@(hospital.HospitalTitle)</option>
                    }

                }
            </select>
            <select name="staffid">
                @{
                    foreach (var staff in Model.Staffs)
                    {
                        <option value="@(staff.StaffId)">@(staff.TypeDoctor)</option>
                    }

                }
            </select>
            <select name="staffid">
                @{
                    foreach (var staff in Model.Staffs)
                    {
                        <option value="@(staff.StaffId)">@(staff.StaffFirstName)</option>
                    }

                }
            </select>
            <select name="staffid">
                @{
                    foreach (var staff in Model.Staffs)
                    {
                        <option value="@(staff.StaffId)">@(staff.StaffLastName)</option>
                    }

                }
            </select>

            <label>Reason</label>
            <input type="text" name="Reason_New" />

            <label>Date</label>
            <input type="text" name="Date_New" />

            <label>Time</label>
            <input type="text" name="Time_New" />

            <label>First Name</label>
            <input type="text" name="FirstName_New" />

            <label>Last Name</label>
            <input type="text" name="LastName_New" />

            <label>Email</label>
            <input type="text" name="Email_New" />

            <label>Phone</label>
            <input type="text" name="Phone_New" />

            <label>Age</label>
            <input type="text" name="Age_New" />


            <input type="submit" value="submit" />

        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

