@model HospitalTeam2.Models.ViewModels.JobPostingEdit

@{
    ViewData["Title"] = "Edit";
}
<h4>Edit @Model.JobPostings.JobPostingTitle</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST" action="/JobPosting/Edit/@Model.JobPostings.JobPostingID">
            <div class="form-group">
                <div class="control-label">Hospital</div>
                <select class="form-control" id="HospitalID" name="HospitalID">
                    @foreach (var Hospital in Model.Hospitals)
                    {
                        string current = "false";
                        @if (Hospital.HospitalID == Model.JobPostings.Hospital.HospitalID)
                        {
                            current = "true";
                        }

                        <option value="@Hospital.HospitalID" selected="@current">@Hospital.HospitalTitle</option>
                    }

                </select>

            </div>
            <div class="control-label">Department</div>

            <div>
                <select class="form-control" id="DepartmentID" name="DepartmentID">
                    @foreach (var Department in Model.Departments)
                    {
                        string current = "false";
                        @if (Department.DepartmentID == Model.JobPostings.Department.DepartmentID)
                        {
                            current = "true";
                        }

                        <option value="@Department.DepartmentID" selected="@current">@Department.DepartmentTitle</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label class="control-label">JobPosting Title</label>
                <input class="form-control" type="text" value="@Model.JobPostings.JobPostingTitle" id="JobPostingTitle" name="JobPostingTitle" />
            </div>
            <div class="form-group">
                <label class="control-label">JobPosting Type</label>
                <input class="form-control" type="text" value="@Model.JobPostings.JobPostingType" id="JobPostingType" name="JobPostingType" />
            </div>
            <div class="form-group">
                <label class="control-label">Job Description</label>
                <input class="form-control" type="text" value="@Model.JobPostings.JobPostingDesc" id="JobPostingDesc" name="JobPostingDesc" />
            </div>
            <div class="form-group">
                <label class="control-label">Job Requirements</label>
                <input class="form-control" type="text" value="@Model.JobPostings.JobPostingReq" id="JobPostingReq" name="JobPostingReq" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block"  value="Submit" />
            </div>
        </form>
</div>
</div>

<div>
    @Html.ActionLink("Back to List", "List")
</div>