@model IEnumerable<HospitalTeam2.Models.JobPosting>

@{
    ViewData["Title"] = "List";
}

<h2>Job Posting</h2>

<p>
    <a asp-action="New">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hospital.HospitalTitle)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Department.DepartmentTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostingTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostingDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostingReq)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.Hospital.HospitalTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostingTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostingDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostingReq)
            </td>



            <td>
                <a asp-action="Edit" asp-route-id="@item.JobPostingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobPostingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobPostingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
