@model HospitalTeam2.Models.ViewModels.VolunteerEdit

@{
    ViewData["Title"] = "Edit";
}


<h4>Edit @Model.Volunteer.FirstName.@Model.Volunteer.LastName</h4>

<hr />
        <form method="POST" action="/Volunteer/Edit/@Model.Volunteer.VolunteerID">
            <div class="inprow">
                <div class="inplabel">Hospital Title</div>
                <select id="HospitalVolunteer" name="HospitalVolunteer">
                    @foreach (var Hospital in Model.Hospitals)
                    {
                        string current = "false";
                        @if (Hospital.HospitalID == Model.Volunteer.Hospital.HospitalID)
                        {
                            current = "true";
                        }

                        <option value="@Hospital.HospitalID" selected="@current">@Hospital.HospitalTitle</option>
                    }
                    
                </select>
            
            </div>
            <div class="inprow">
                <label class="inplabel">First Name</label>
                <input type="text" value="@Model.Volunteer.FirstName" id="FirstName" name="FirstName" />
            </div>
            <div class="inprow">
                <label class="inplabel">Last Name</label>
                <input type="text" value="@Model.Volunteer.LastName" id="LastName" name="LastName" />
            </div>
            <div class="inprow">
                <label class="inplabel">Middle Name</label>
                <input type="text" value="@Model.Volunteer.Middle" id="Middle" name="Middle" />
            </div>
            <div class="inprow">
                <label class="inplabel">City</label>
                <input type="text" value="@Model.Volunteer.City" id="City" name="City" />
            </div>
            <div class="inprow">
                <label class="inplabel">Province</label>
                <input type="text" value="@Model.Volunteer.Province" id="Province" name="Province" />
            </div>
            <div class="inprow">
                <label class="inplabel">ZIP</label>
                <input type="text" value="@Model.Volunteer.Zip" id="Zip" name="Zip" />
            </div>
            <div class="inprow">
                <label class="inplabel">Phone</label>
                <input type="text" value="@Model.Volunteer.Phone" id="Phone" name="Phone" />
            </div>
            <div class="inprow">
                <label class="inplabel">Email</label>
                <input type="text" value="@Model.Volunteer.Email" id="Email" name="Email" />
            </div>
            <div class="inprow">
                <label class="inplabel">Age</label>
                <input type="text" value="@Model.Volunteer.Age" id="Age" name="Age" />
            </div>
            <div class="inprow">
                <label class="inplabel">Gender</label>
                <input type="text" value="@Model.Volunteer.Gender" id="Gender" name="Gender" />
            </div>
            <div class="inprow">
                <label class="inplabel">Education</label>
                <input type="text" value="@Model.Volunteer.Education" id="Education" name="Education" />
            </div>
            <div class="inprow">
                <div class="inplabel">Experience</div>
                <textarea id="Experience" name="Experience">@Model.Volunteer.Experience</textarea>
            </div>
            <div class="inprow">
                <label class="inplabel">Availability</label>
                <input type="text" value="@Model.Volunteer.Availability" id="Availability" name="Availability" />
            </div>
            <div class="inprow">
                <label class="inplabel">Name</label>
                <input type="text" value="@Model.Volunteer.Name" id="Name" name="Name" />
            </div>
            <div class="inprow">
                <label class="inplabel">Phone_em</label>
                <input type="text" value="@Model.Volunteer.Phone_em" id="Phone_em" name="Phone_em" />
            </div>
            <div class="inprow">
                <label class="inplabel">Relationship</label>
                <input type="text" value="@Model.Volunteer.Relationship" id="Relationship" name="Relationship" />
            </div>
            <div class="inprow">
                <label class="inplabel">Health Condition</label>
                <input type="text" value="@Model.Volunteer.HealthCondition" id="HealthCondition" name="HealthCondition" />
            </div>
            <div class="inprow">
                <input type="submit" value="Submit" />
            </div>
       </form>
    