@model IEnumerable<NavMenu>
@if (Model != null)
{
<ul class="nav navbar-nav">

    @foreach (var item in Model)
    {
        if (item.IsShown)
        {
            if (item.ChildMenuItems != null && item.ChildMenuItems.Count > 0)
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @item.Title
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var child in item.ChildMenuItems)
                        {
                            <li><a href="@child.Url">@child.Title</a></li>
                        }
                    </ul>
                </li>                
            }
            else
            {
                <li><a href="@item.Url">@item.Title</a></li>
            }

        }
    }

</ul>
}
