@model HospitalTeam2.Models.Staff

@{
    ViewData["Title"] = "Show";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StaffFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeDoctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeDoctor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HospitalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HospitalId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StaffId">Edit</a> |
    <a asp-action="List">Back to List</a>
</div>
