@{
    ViewData["Title"] = "List";
}

<h2>Feedback List</h2>


@foreach (var Feedback in Model)
{
    <div> @Feedback.FeedbacksId</div>
    <div> @Feedback.FullName</div>
    <div> @Feedback.FeedbacksEmail</div>
    <div> @Feedback.ContactNumber</div>
    <div> @Feedback.FeedbacksSubject</div>
    <div> @Feedback.FeedbacksMessage</div>
}