@model HospitalTeam2.Models.Parking

@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron">
    <div class="containerH">
        <h2> Parking Details</h2>
    </div>
</div>

<div>
    <h4>Parking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitoCarNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitoCarNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingPurpose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingPurpose)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hospital)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hospital.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ParkingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
