@model IEnumerable<HospitalTeam2.Models.Alert>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AlertTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlertMessage)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlertTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlertMessage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlertId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlertId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlertId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
