@{
    ViewData["Title"] = "List";
}

<h2>Blog List</h2>


@foreach (var Blog in Model)
{
    <div> @Blog.BlogTitle</div>
    <div> @Blog.BlogDescription</div>
    <div> @Blog.BlogAuthor</div>
    <div> @Blog.BlogDate</div>
    <div> @Blog.BlogTime</div>
   
}