@model HospitalTeam2.Models.Donor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dd>
            <h2>@Html.DisplayFor(model => model.DonorName)</h2>
        </dd>
        
        <dd>
            <p>@Html.DisplayFor(model => model.DonorMessage)</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" class="imageCell" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
