@{
    ViewData["Title"] = "List";
}

<h2>Event List</h2>


@foreach (var Event in Model)
{
    <div> @Event.EventName</div>
    <div> @Event.EventDescription</div>
    <div> @Event.EventLocation</div>
    <div> @Event.EventDate</div>
    <div> @Event.EventTime</div>
}